.container-anwser {
  display: flex;
  background-color: pink;
  width: 900px;
  height: 100%;
  padding: 15px 15px 15px 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
}
.content {
  width: 500px;
  padding: 2%;
  background-color: red;
}
