.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(212, 212, 212, 0.75);
  width: 54%;
  padding: 7px;
  border-radius: 5%;
  box-shadow: 10px 10px 5px 0px rgba(212, 212, 212, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(212, 212, 212, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(212, 212, 212, 0.75);
}
.card-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  flex-direction: column;
}

.question-current {
}
.question-text {
}
.question-resp-icon button {
  width: 140px;
  height: 180px;
  color: rgb(247, 247, 247);
  cursor: pointer;
  background-color: rgba(43, 43, 43, 0);
  margin: 10px;
  border: 1px solid rgba(212, 212, 212, 0.185);
  box-shadow: 10px 10px 5px 0px rgba(212, 212, 212, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(212, 212, 212, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(212, 212, 212, 0.75);
  border-radius: 50px;
  padding: 15px;
}
.question-resp-icon p {
  color: black;
  font-weight: 800;
}
